body{
    color:rgb(189, 0, 255);
    background-color:white;
    margin: 20px;
}
header {
    border-bottom: solid 2px rgb(189, 0, 255);
    padding: 20px;
    font-size: 20px;
    color: rgb(189, 0, 255);
}